.medium {
    background-color: antiquewhite;
    text-align: center;
}
h1{
    height: 42px;
    padding-top: 150px;
    color: rgb(57, 31, 31);
}
.carousel {
    max-width: 1024;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    box-shadow: aliceblue 0.25;
    text-align: center;
    display: block;
   

}